<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Terminal do Mesário</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mesario.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

</head>
<body>

  <div class="mesario-container">
    <div class="header-mesario">
        <h2>Terminal do Mesário</h2>
    </div>
    
    <div class="input-group">
      <label for="titulo_input">Título do Eleitor</label>
      <input type="text" id="titulo_input" placeholder="000000000000" maxlength="12">
    </div>

    <button class="btn-liberar" onclick="liberarUrna()">Liberar Urna</button>

    <div class="status-container">
      <div class="status-title">Status da Sessão</div>
      <p id="status-text">Aguardando próximo eleitor.</p>
    </div>
  </div>

  <button class="btn-voltar" onclick="ir('/')">Voltar ao Início</button>
  <button class="btn-encerrar" onclick="ir('/encerrar_votacao')" ></button>

  <script src='static/js/mesario.js'></script>
</body>
</html>