<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Início</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

  <div class="container">
    <h2>Escolha o tipo</h2>
    <button class="btn-enviar" onclick="ir('/candidato')">Candidatos</button>
    <button class="btn-enviar" onclick="ir('/eleitor')">Eleitores</button>
    <button class="btn-votar" onclick="ir('/votacao')">Iniciar Votação</button>
  </div>

  <script>
    function ir(rota) { window.location.href = rota; }
  </script>

</body>
</html>